# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/https://github.com/users/NZCommander/projects/1/views/1pane=info&statusUpdateId=15875
